In [1]:
import xml.etree.ElementTree as et
import pandas as pd
from IPython.core import display as ICD
from pandas import json_normalize
import pandas as pd
import tqdm as tqdm
import os

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

Parsing opta files

In [2]:
#@title
types_dict={1:"Pass",2:"Offside Pass",3:"Take On",4:"Foul",5:"Out",6:"Corner Awarded",7:"Tackle",8:"Interception",9:"Turnover",10:"Save",11:"Claim",12:"Clearance",13:"Miss",14:"Post",15:"Attempt Saved",16:"Goal",17:"Card",18:"Player off",19:"Player on",20:"Player retired",21:"Player returns",22:"Player becomes goalkeeper",23:"Goalkeeper becomes player",24:"Condition change",25:"Official change",27:"Start delay",28:"End delay",30:"End",31:"Picked an orange",32:"Start",34:"Team set up",35:"Player changed position",36:"Player changed Jersey number",37:"Collection End",38:"Temp_Goal",39:"Temp_Attempt",40:"Formation change",41:"Punch",42:"Good Skill",43:"Deleted event",44:"Aerial",45:"Challenge",47:"Rescinded card",49:"Ball recovery",50:"Dispossessed",51:"Error",52:"Keeper pick-up",53:"Cross not claimed",54:"Smother",55:"Offside provoked",56:"Shield ball opp",57:"Foul throw-in",58:"Penalty faced",59:"Keeper Sweeper",60:"Chance missed",61:"Ball touch",63:"Temp_Save",64:"Resume",65:"Contentious referee decision",67:"50/50",68:"Referee drop ball",69:"Failed To Block",72:"Caught offside",73:"Other Ball Contact",74:"Blocked pass"};
types = pd.DataFrame.from_dict(types_dict,orient='index').reset_index()
types.columns=["type_id","event_name"]

qualifiers_dict={1:"Long ball",2:"Cross",3:"Head pass",4:"Through ball",5:"Free kick taken",6:"Corner taken",7:"Players caught offside",8:"Goal disallowed",9:"Penalty",10:"Hand",11:"6-seconds violation",12:"Dangerous play",13:"Foul",14:"Last line",15:"Head",16:"Small box-centre",17:"Box-centre",18:"Out of box-centre",19:"35+ centre",20:"Right footed",21:"Other body part",22:"Regular play",23:"Fast break",24:"Set piece",25:"From corner",26:"Free kick",28:"Own goal",29:"Assisted",30:"Involved",31:"Yellow Card",32:"Second yellow",33:"Red card",34:"Referee abuse",35:"Argument",36:"Fight",37:"Time wasting",38:"Excessive celebration",39:"Crowd interaction",40:"Other reason",41:"Injury",42:"Tactical",44:"Player position",49:"Attendance figure",50:"Official position",51:"Official ID",53:"Injured player id",54:"End cause",55:"Related event ID",56:"Zone",57:"End type",59:"Jersey number",60:"Small box-right",61:"Small box-left",62:"Box-deep right",63:"Box-right",64:"Box-left",65:"Box-deep left",66:"Out of box-deep right",67:"Out of box-right",68:"Out of box-left",69:"Out of box-deep left",70:"35+ right",71:"35+ left",72:"Left footed",73:"Left",74:"High",75:"Right",76:"Low left",77:"High left",78:"Low centre",79:"High centre",80:"Low right",81:"High right",82:"Blocked",83:"Close left",84:"Close right",85:"Close high",86:"Close left and high",87:"Close right and high",88:"High claim",89:"1 on 1",90:"Deflected save",91:"Dive and deflect",92:"Catch",93:"Dive and catch",94:"Def block",95:"Back pass",96:"Corner situation",97:"Direct free",100:"Six yard blocked",101:"Saved off line",102:"Goal mouth y co-ordinate",103:"Goal mouth z co-ordinate",106:"Attacking Pass",107:"Throw-in",108:"Volley",109:"Overhead",110:"Half Volley",111:"Diving Header",112:"Scramble",113:"Strong",114:"Weak",115:"Rising",116:"Dipping",117:"Lob",118:"One Bounce",119:"Few Bounces",120:"Swerve Left",121:"Swerve Right",122:"Swerve Moving",123:"Keeper Throw",124:"Goal Kick",127:"Direction of play",128:"Punch",130:"Team formation",131:"Team player formation",132:"Dive",133:"Deflection",134:"Far Wide Left",135:"Far Wide Right",136:"Keeper Touched",137:"Keeper Saved",138:"Hit Woodwork",139:"Own Player",140:"Pass End X",141:"Pass End Y",144:"Deleted event type",145:"Formation slot",146:"Blocked x co-ordinate",147:"Blocked y co-ordinate",153:"Not past goal line",154:"Intentional assist",155:"Chipped",156:"Lay-off",157:"Launch",158:"Persistent infringement",159:"Foul and abusive language",160:"Throw-in set piece",161:"Encroachment",162:"Leaving field",163:"Entering field",164:"Spitting",165:"Professional foul",166:"Handling on the line",167:"Out of play",168:"Flick-on",169:"Leading to attempt",170:"Leading to goal",171:"Rescinded card",172:"No impact on timing",173:"Parried safe",174:"Parried danger",175:"Fingertip",176:"Caught",177:"Collected",178:"Standing",179:"Diving",180:"Stooping",181:"Reaching",182:"Hands",183:"Feet",184:"Dissent",185:"Blocked cross",186:"Scored",187:"Saved",188:"Missed",189:"Player not visible",190:"From shot off target",191:"Off the ball foul",192:"Block by hand",194:"Captain",195:"Pull Back",196:"Switch of play",197:"Team kit",198:"GK hoof",199:"Gk kick from hands",200:"Referee stop",201:"Referee delay",202:"Weather problem",203:"Crowd trouble",204:"Fire",205:"Object thrown on pitch",206:"Spectator on pitch",207:"Awaiting officials decision",208:"Referee Injury",209:"Game end",210:"Assist",211:"Overrun",212:"Length",213:"Angle",214:"Big Chance",215:"Individual Play",216:"2nd related event ID",217:"2nd assisted",218:"2nd assist",219:"Players on both posts",220:"Player on near post",221:"Player on far post",222:"No players on posts",223:"In-swinger",224:"Out-swinger",225:"Straight",226:"Suspended",227:"Resume",228:"Own shot blocked",229:"Post-match complete",230:"GK X Coordinate",231:"GK Y Coordinate",232:"Unchallenged"};
qualifiers = pd.DataFrame.from_dict(qualifiers_dict,orient='index').reset_index()
qualifiers.columns = ["qualifier_id","description"]

qualifiers_dict2 = {str(key): str(value) for key, value in qualifiers_dict.items()}


def parsef24(F24file): 
  tree = et.ElementTree(file = F24file)
  games = tree.getroot()
  gameinfo = games.findall('Game')
  gameinfo = gameinfo[0]
  game_id = gameinfo.get('id')
  home_team_id = gameinfo.get('home_team_id')
  home_team_name = gameinfo.get('home_team_name')
  away_team_id = gameinfo.get('away_team_id')
  away_team_name = gameinfo.get('away_team_name')
  competition_id = gameinfo.get('competition_id')
  competition_name = gameinfo.get('competition_name')
  season_id = gameinfo.get('season_id')

  global match_events
  match_events = pd.DataFrame()
  for game in games:
      for event in game:
          evento = json_normalize(event.attrib)
          mylist = []
          for q in event:
            mylist.append(q.attrib)
          evento["qualifiers"] = ["a"]
          evento.at[0,"qualifiers"] = mylist
          match_events = match_events.append(evento)
  match_events[["id","event_id","type_id","period_id","min","sec"]] = match_events[["id","event_id","type_id","period_id","min","sec"]].astype(int)
  match_events[["y","x"]] = match_events[["y","x"]].astype(float)
  match_events = pd.merge(match_events,types, on="type_id", how = "left")
  match_events = match_events[ ['id',"event_id","type_id", "event_name" ]+ [ col for col in match_events.columns if col not in ['id',"event_id","type_id", "event_name" ] ] ]
  match_events['competition_id'] = competition_id
  match_events['game_id'] = game_id
  match_events['home_team_id'] = home_team_id
  match_events['home_team_name'] = home_team_name
  match_events['away_team_id'] = away_team_id
  match_events['away_team_name'] = away_team_name
  match_events['competition_id'] = competition_id
  match_events['competition_name'] = competition_name
  match_events['season_id'] = season_id
  match_events['competition_id'] = competition_id
  #ICD.display(match_events.head(10))

def search_qualifier(nome_df, qualifier_id, lista_destino): 
  for i in range(len(nome_df)):
    for item in nome_df.loc[i]["qualifiers"]: 
      if item["qualifier_id"] == qualifier_id: 
        lista_destino.append(nome_df.loc[i]["id"])
  return ICD.display(nome_df[nome_df["id"].isin(lista_destino)])

def explode_event(nome_df,id_evento,mytresh):
  global exploded_df
  exploded_df = pd.DataFrame()
  nome_df=nome_df[nome_df["type_id"]==id_evento]
  allqualifiers = pd.DataFrame()
  for i in range(len(nome_df)):
    qualifiers_detailed = json_normalize(nome_df.qualifiers.iloc[i]).T.reset_index().drop("index",axis=1).fillna("sim")
    qualifiers_detailed.columns = list(qualifiers_detailed.iloc[1])
    qualifiers_detailed = qualifiers_detailed.drop(labels=[0,1], axis=0)
    qualifiers_detailed.rename(columns=qualifiers_dict2,inplace=True)
    qualifiers_detailed["id"] = nome_df.id.iloc[i]
    allqualifiers = allqualifiers.append(qualifiers_detailed)
  exploded_df = exploded_df.append(pd.merge(nome_df.drop("qualifiers", axis=1), allqualifiers.reindex(sorted(allqualifiers.columns), axis=1).reset_index()\
                                            .drop("index", axis=1).dropna(thresh=len(allqualifiers)*mytresh, axis=1), on="id", how="outer")).fillna("-")

In [ ]:
# Parsing one file:
parsef24("f24-99-2020-2133473-eventdetails.xml")

In [ ]:
match_events.info()

In [ ]:
explode_event(match_events,1,0.15)

In [ ]:
exploded_df[["Pass End X","Pass End Y"]] = exploded_df[["Pass End X","Pass End Y"]].astype(float)
# converting passing locations to floats

In [ ]:
exploded_df.info() # need to make the previous conversion to work properly

Let's make the previous process for all the Portuguese league 20/21 files and the half-space passing calculations as well.

I'm analysing the passing for offensive half-spaces because because I believe that a lot of danger and opportunities can be created through these zones, so getting the ball there is crucial.

I define these zones (left and right) and calculate the number and accuracy of passes for these zones, grouped by positions, players and teams in the league.

In [3]:
# create dataframe
allmatches = pd.DataFrame()

# loop for parsing and make calculations
for file in tqdm.tqdm(os.listdir("/content")):
  if file.endswith(".xml"):
    parsef24("/content/" + file)

    explode_event(match_events,1,0.15)
    # passing coordinates conversion objects to floats

    exploded_df[["Pass End X","Pass End Y"]] = exploded_df[["Pass End X","Pass End Y"]].astype(float)
    
    # right and left offensive half-spaces definition zones
    halfd = exploded_df[(exploded_df["Pass End X"].between(70,83)) & (exploded_df["Pass End Y"].between(21.1,36.8))]
    halfe = exploded_df[(exploded_df["Pass End X"].between(70,83)) & (exploded_df["Pass End Y"].between(63.2,78.9))]
    
    
    passes_completedd = halfd[halfd["outcome"] == "1"].groupby(["player_id"]).count()[["id"]].reset_index()
    passes_completedd.columns = ["player_id", "Passes completed right"]
    passes_uncompletedd = halfd[halfd["outcome"] == "0"].groupby(["player_id"]).count()[["id"]].reset_index()
    passes_uncompletedd.columns=["player_id", "Passes uncompleted right"]
    passes_completede = halfe[halfe["outcome"] == "1"].groupby(["player_id"]).count()[["id"]].reset_index()
    passes_completede.columns = ["player_id", "Passes completed left"]
    passes_uncompletede = halfe[halfe["outcome"] == "0"].groupby(["player_id"]).count()[["id"]].reset_index()
    passes_uncompletede.columns = ["player_id", "Passes uncompleted left"]
    
    passesd = pd.merge(passes_completedd,passes_uncompletedd, on="player_id", how = "outer")
    passese = pd.merge(passes_completede,passes_uncompletede, on="player_id", how = "outer")
    passesf = pd.merge(passese,passesd,on="player_id",how ="outer").fillna(0)
    passesf = passesf.astype(int)
    
    # total passes  in offensive half-spaces
    passesf["Total passes"] = passesf["Passes completed left"]+passesf["Passes completed right"]+passesf["Passes uncompleted left"]+passesf["Passes uncompleted right"]
    # total completed passes in offensive half-spaces
    passesf["Total passes completed"] = passesf["Passes completed left"]+passesf["Passes completed right"]
    # % completed passes offensive half-spaces
    passesf["% Total passes completed"] = (passesf["Passes completed left"]+passesf["Passes completed right"]) * 100 / passesf["Total passes"]
    # total passes in left offensive half-space
    passesf["Total passes left"] = passesf["Passes completed left"]+passesf["Passes uncompleted left"]
    # % completed passes in left offensive half-space
    passesf["% Total passes completed left"] = passesf["Passes completed left"] * 100 / passesf["Total passes left"]
    # total passes in right offensive half-space
    passesf["Total passes right"] = passesf["Passes completed right"]+passesf["Passes uncompleted right"]
    # % completed passes in right offensive half-space
    passesf["% Total passes completed right"] = passesf["Passes completed right"] * 100 / passesf["Total passes right"]
    passesf = passesf.fillna(0)

    allmatches = allmatches.append(passesf)

100%|██████████| 303/303 [53:34<00:00, 10.61s/it]

In [4]:
allmatches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5293 entries, 0 to 17
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   player_id                       5293 non-null   int64
 1   Passes completed left           5293 non-null   int64
 2   Passes uncompleted left         5293 non-null   int64
 3   Passes completed right          5293 non-null   int64
 4   Passes uncompleted right        5293 non-null   int64
 5   Total passes                    5293 non-null   int64
 6   Total passes completed          5293 non-null   int64
 7   % Total passes completed        5293 non-null   float64
 8   Total passes left               5293 non-null   int64
 9   % Total passes completed left   5293 non-null   float64
 10  Total passes right              5293 non-null   int64
 11  % Total passes completed right  5293 non-null   float64
dtypes: float64(3), int64(9)
memory usage: 537.6 KB

In [5]:
all = allmatches.copy

In [6]:
planteispt = pd.read_excel("opta_planteis_portugal.xlsx")

In [7]:
allmatches["player_id"] = allmatches["player_id"].astype(int)
# merging parse dataframe with player information dataframe
allmatches = pd.merge(allmatches,planteispt[["player_id","player_name","position","team_name"]], on ="player_id", how = "left")

In [8]:
allmatches=allmatches.fillna(0)
allmatches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5428 entries, 0 to 5427
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   player_id                       5428 non-null   int64
 1   Passes completed left           5428 non-null   int64
 2   Passes uncompleted left         5428 non-null   int64
 3   Passes completed right          5428 non-null   int64
 4   Passes uncompleted right        5428 non-null   int64
 5   Total passes                    5428 non-null   int64
 6   Total passes completed          5428 non-null   int64
 7   % Total passes completed        5428 non-null   float64
 8   Total passes left               5428 non-null   int64
 9   % Total passes completed left   5428 non-null   float64
 10  Total passes right              5428 non-null   int64
 11  % Total passes completed right  5428 non-null   float64
 12  player_name                     5428 non-null   object
 13  position                        5428 non-null   object
 14  team_name                       5428 non-null   object
dtypes: float64(3), int64(9), object(3)
memory usage: 678.5+ KB

In [9]:
allmatches["position"]=allmatches["position"].astype(str)

# % passing accuracy per zonas and player position in the league

accuracy_position = allmatches.groupby("position").sum()

# recalculate % completed passes
accuracy_position["% Total passes completed"] = (accuracy_position["Passes completed left"]+accuracy_position["Passes completed right"]) * 100 / accuracy_position["Total passes"]
accuracy_position["% Total passes completed left"] = (accuracy_position["Passes completed left"]) * 100 / accuracy_position["Total passes left"]
accuracy_position["% Total passes completed right"] = (accuracy_position["Passes completed right"]) * 100 / accuracy_position["Total passes right"]
accuracy_position.sort_values("% Total passes completed", ascending=False).fillna(0).reset_index().drop(2).drop(["player_id"], axis = 1)

,position,Passes completed left,Passes uncompleted left,Passes completed right,Passes uncompleted right,Total passes,Total passes completed,% Total passes completed,Total passes left,% Total passes completed left,Total passes right,% Total passes completed right
0,Midfielder,1324,725,1475,892,4416,2799,63.383152,2049,64.616886,2367,62.315167
1,Forward,713,466,657,458,2294,1370,59.721011,1179,60.474979,1115,58.923767
3,Defender,800,701,883,728,3112,1683,54.080977,1501,53.297801,1611,54.810677
4,Goalkeeper,56,184,73,223,536,129,24.067164,240,23.333333,296,24.662162

In [10]:
allmatches["team_name"]=allmatches["team_name"].astype(str)
# % passing accuracy per zones and team in the league

accuracy_teams = allmatches.groupby("team_name").sum()
# recalculate % completed passes
accuracy_teams["% Total passes completed"] = ((accuracy_teams["Passes completed left"]+accuracy_teams["Passes completed right"]) * 100 / accuracy_teams["Total passes"]).sort_values()
accuracy_teams["% Total passes completed left"] = (accuracy_teams["Passes completed left"]) * 100 / accuracy_teams["Total passes left"]
accuracy_teams["% Total passes completed right"] = (accuracy_teams["Passes completed right"]) * 100 / accuracy_teams["Total passes right"]
accuracy_teams.sort_values("% Total passes completed", ascending=False).fillna(0).reset_index().drop(7).drop(["player_id"], axis = 1)

,team_name,Passes completed left,Passes uncompleted left,Passes completed right,Passes uncompleted right,Total passes,Total passes completed,% Total passes completed,Total passes left,% Total passes completed left,Total passes right,% Total passes completed right
0,Benfica,336,113,397,151,997,733,73.520562,449,74.832962,548,72.445255
1,FC Porto,221,133,287,165,806,508,63.027295,354,62.429379,452,63.495575
2,Sporting Braga,233,132,219,138,722,452,62.603878,365,63.835616,357,61.344538
3,Sporting CP,168,116,193,133,610,361,59.180328,284,59.154930,326,59.202454
4,Gil Vicente,159,114,177,119,569,336,59.050967,273,58.241758,296,59.797297
5,Boavista,163,134,132,77,506,295,58.300395,297,54.882155,209,63.157895
6,Vitória Guimarães,162,96,186,164,608,348,57.236842,258,62.790698,350,53.142857
8,Rio Ave,167,121,129,105,522,296,56.704981,288,57.986111,234,55.128205
9,FC Famalicão,142,108,132,106,488,274,56.147541,250,56.800000,238,55.462185
10,Tondela,161,125,157,124,567,318,56.084656,286,56.293706,281,55.871886
11,Portimonense,166,142,199,156,663,365,55.052790,308,53.896104,355,56.056338
12,Moreirense,124,97,126,116,463,250,53.995680,221,56.108597,242,52.066116
13,Santa Clara,131,126,124,94,475,255,53.684211,257,50.972763,218,56.880734
14,Paços de Ferreira,127,92,119,136,474,246,51.898734,219,57.990868,255,46.666667
15,CD Nacional,127,116,128,121,492,255,51.829268,243,52.263374,249,51.405622
16,Belenenses,99,104,143,127,473,242,51.162791,203,48.768473,270,52.962963
17,SC Farense,119,118,136,148,521,255,48.944338,237,50.210970,284,47.887324
18,Marítimo,88,89,104,121,402,192,47.761194,177,49.717514,225,46.222222

In [11]:
#  passing accuracy per zones by player in the league

accuracy_player = allmatches.groupby("player_name").sum().sort_values("Total passes completed", ascending=False).fillna(0).drop(["player_id"], axis = 1).reset_index()
# recalculate % completed passes
accuracy_player["% Total passes completed"] = (accuracy_player["Passes completed left"]+accuracy_player["Passes completed right"]) * 100 / accuracy_player["Total passes"]
accuracy_player["% Total passes completed left"] = (accuracy_player["Passes completed left"]) * 100 / accuracy_player["Total passes left"]
accuracy_player["% Total passes completed right"] = (accuracy_player["Passes completed right"]) * 100 / accuracy_player["Total passes right"]
accuracy_player.fillna(0).drop(1)

,player_name,Passes completed left,Passes uncompleted left,Passes completed right,Passes uncompleted right,Total passes,Total passes completed,% Total passes completed,Total passes left,% Total passes completed left,Total passes right,% Total passes completed right
0,Nuno Santos,58,24,30,16,128,88,68.750000,82,70.731707,46,65.217391
2,Rafa,20,6,60,15,101,80,79.207921,26,76.923077,75,80.000000
3,Adel Taarabt,29,5,41,23,98,70,71.428571,34,85.294118,64,64.062500
4,Pizzi,29,8,39,9,85,68,80.000000,37,78.378378,48,81.250000
5,Paulinho,35,14,32,15,96,67,69.791667,49,71.428571,47,68.085106
6,Ricardo Esgaio,0,2,61,22,85,61,71.764706,2,0.000000,83,73.493976
7,Otávio,33,21,28,18,100,61,61.000000,54,61.111111,46,60.869565
8,Éverton,45,10,12,4,71,57,80.281690,55,81.818182,16,75.000000
9,Wenderson Galeno,48,16,9,5,78,57,73.076923,64,75.000000,14,64.285714
10,Jesús Corona,12,8,43,23,86,55,63.953488,20,60.000000,66,65.151515
11,Wilson Manafá,23,5,29,13,70,52,74.285714,28,82.142857,42,69.047619
12,Joel Pereira,3,3,49,18,73,52,71.232877,6,50.000000,67,73.134328
13,Bruno Costa,30,12,20,10,72,50,69.444444,42,71.428571,30,66.666667
14,João Pedro,19,14,30,20,83,49,59.036145,33,57.575758,50,60.000000
15,Diogo Gonçalves,0,0,48,7,55,48,87.272727,0,0.000000,55,87.272727
16,Alejandro Grimaldo,48,16,0,2,66,48,72.727273,64,75.000000,2,0.000000
17,Mateus Uribe,21,11,25,10,67,46,68.656716,32,65.625000,35,71.428571
18,Gil Dias,22,8,23,9,62,45,72.580645,30,73.333333,32,71.875000
19,Sérgio Oliveira,20,16,24,23,83,44,53.012048,36,55.555556,47,51.063830
20,João Mário,19,6,23,5,53,42,79.245283,25,76.000000,28,82.142857
21,Angel Gomes,22,15,19,9,65,41,63.076923,37,59.459459,28,67.857143
22,Pedro Porro,3,2,38,23,66,41,62.121212,5,60.000000,61,62.295082
23,André André,27,5,13,12,57,40,70.175439,32,84.375000,25,52.000000
24,Falaye Sacko,1,3,39,21,64,40,62.500000,4,25.000000,60,65.000000
25,Gian-Luca Waldschmidt,17,7,23,11,58,40,68.965517,24,70.833333,34,67.647059
26,Pedrinho,19,9,20,13,61,39,63.934426,28,67.857143,33,60.606061
27,Julian Weigl,20,4,19,8,51,39,76.470588,24,83.333333,27,70.370370
28,João Talocha,36,19,3,0,58,39,67.241379,55,65.454545,3,100.000000
29,Gilberto,0,1,36,10,47,36,76.595745,1,0.000000,46,78.260870
30,Pote,12,10,24,9,55,36,65.454545,22,54.545455,33,72.727273
31,Nuno Mendes,33,19,3,1,56,36,64.285714,52,63.461538,4,75.000000
32,Aylton Boa Morte,17,6,19,17,59,36,61.016949,23,73.913043,36,52.777778
33,Nuno Sequeira,35,18,1,2,56,36,64.285714,53,66.037736,3,33.333333
34,Stephen Eustáquio,23,7,13,8,51,36,70.588235,30,76.666667,21,61.904762
35,Haris Seferovic,14,4,21,9,48,35,72.916667,18,77.777778,30,70.000000
36,Mehdi Taremi,21,15,14,7,57,35,61.403509,36,58.333333,21,66.666667
37,Luis Díaz,27,5,8,1,41,35,85.365854,32,84.375000,9,88.888889
38,Carlos Mané,21,7,14,13,55,35,63.636364,28,75.000000,27,51.851852
39,Claude Goncalves,18,14,17,6,55,35,63.636364,32,56.250000,23,73.913043
40,Luther Singh,24,16,10,20,70,34,48.571429,40,60.000000,30,33.333333
41,Lucas Mineiro,18,14,16,10,58,34,58.620690,32,56.250000,26,61.538462
42,Darwin Núñez,18,11,15,9,53,33,62.264151,29,62.068966,24,62.500000
43,Carlos Junior,9,11,23,6,49,32,65.306122,20,45.000000,29,79.310345
44,Abdu Conté,31,7,1,2,41,32,78.048780,38,81.578947,3,33.333333
45,Tomás Tavares,10,2,22,10,44,32,72.727273,12,83.333333,32,68.750000
46,Jhon Murillo,8,4,23,4,39,31,79.487179,12,66.666667,27,85.185185
47,Rochinha,25,9,6,9,49,31,63.265306,34,73.529412,15,40.000000
48,Ruben Lameiras,12,3,18,14,47,30,63.829787,15,80.000000,32,56.250000
49,Rafael Ramos,1,0,29,8,38,30,78.947368,1,100.000000,37,78.378378
50,Koki Anzai,15,8,15,6,44,30,68.181818,23,65.217391,21,71.428571
51,Denis Poha,12,4,18,10,44,30,68.181818,16,75.000000,28,64.285714
52,Fahd Moufi,1,4,29,20,54,30,55.555556,5,20.000000,49,59.183673
53,Jaume Grau,19,7,10,6,42,29,69.047619,26,73.076923,16,62.500000
54,Salvador Agra,10,11,19,10,50,29,58.000000,21,47.619048,29,65.517241
55,Reggie Cannon,0,0,29,5,34,29,85.294118,0,0.000000,34,85.294118
56,Pêpê,13,7,15,6,41,28,68.292683,20,65.000000,21,71.428571
57,Francisco Geraldes,18,12,10,10,50,28,56.000000,30,60.000000,20,50.000000
58,Ewerton,10,8,18,12,48,28,58.333333,18,55.555556,30,60.000000
59,Lincoln,21,10,7,5,43,28,65.116279,31,67.741935,12,58.333333
60,Ryan Gauld,16,9,12,11,48,28,58.333333,25,64.000000,23,52.173913
61,Ivo Pinto,1,2,26,12,41,27,65.853659,3,33.333333,38,68.421053
62,Pepelu,11,3,16,9,39,27,69.230769,14,78.571429,25,64.000000
63,Gabriel Pires,17,3,10,7,37,27,72.972973,20,85.000000,17,58.823529
64,Claudio Winck,5,2,22,23,52,27,51.923077,7,71.428571,45,48.888889
65,Ricardo Mangas,26,16,1,2,45,27,60.000000,42,61.904762,3,33.333333
66,Zaidu Sanusi,23,13,4,2,42,27,64.285714,36,63.888889,6,66.666667
67,Rúben Freitas,3,1,24,4,32,27,84.375000,4,75.000000,28,85.714286
68,Dener,12,8,14,12,46,26,56.521739,20,60.000000,26,53.846154
69,Tiago Esgaio,3,3,23,25,54,26,48.148148,6,50.000000,48,47.916667
70,Afonso Taira,4,8,22,18,52,26,50.000000,12,33.333333,40,55.000000
71,Anderson Oliveira,12,5,14,5,36,26,72.222222,17,70.588235,19,73.684211
72,Afonso Sousa,14,5,12,3,34,26,76.470588,19,73.684211,15,80.000000
73,Filipe Soares,10,8,16,7,41,26,63.414634,18,55.555556,23,69.565217
74,Ricardo Horta,10,9,16,5,40,26,65.000000,19,52.631579,21,76.190476
75,Alberth Elis,14,11,12,4,41,26,63.414634,25,56.000000,16,75.000000
76,Filipe Ferreira,25,16,0,0,41,25,60.975610,41,60.975610,0,0.000000
77,Abel Ruiz,13,3,12,4,32,25,78.125000,16,81.250000,16,75.000000
78,Brayan Riascos,12,4,13,5,34,25,73.529412,16,75.000000,18,72.222222
79,Douglas Tanque,12,6,12,11,41,24,58.536585,18,66.666667,23,52.173913
80,Lourency,15,9,9,3,36,24,66.666667,24,62.500000,12,75.000000
81,Lucas Piazon,10,1,14,3,28,24,85.714286,11,90.909091,17,82.352941
82,Alex Soares,11,6,12,5,34,23,67.647059,17,64.705882,17,70.588235
83,Al Musrati,12,8,11,11,42,23,54.761905,20,60.000000,22,50.000000
84,Walterson,13,12,10,11,46,23,50.000000,25,52.000000,21,47.619048
85,André Almeida,8,2,15,7,32,23,71.875000,10,80.000000,22,68.181818
86,Iuri Medeiros,7,4,15,3,29,22,75.862069,11,63.636364,18,83.333333
87,Gelson Dala,13,10,9,8,40,22,55.000000,23,56.521739,17,52.941176
88,Vitor Tormena,1,2,21,12,36,22,61.111111,3,33.333333,33,63.636364
89,Pelé,12,7,10,5,34,22,64.705882,19,63.157895,15,66.666667
90,João Palhinha,5,4,17,2,28,22,78.571429,9,55.555556,19,89.473684
91,Rúben Lima,17,31,5,2,55,22,40.000000,48,35.416667,7,71.428571
92,Filipe Augusto,8,8,14,6,36,22,61.111111,16,50.000000,20,70.000000
93,Fernando Fonseca,0,3,22,20,45,22,48.888889,3,0.000000,42,52.380952
94,Gideon Mensah,21,7,0,1,29,21,72.413793,28,75.000000,1,0.000000
95,Fábio Pacheco,8,6,13,9,36,21,58.333333,14,57.142857,22,59.090909
96,Pedro Amaral,20,17,1,3,41,21,51.219512,37,54.054054,4,25.000000
97,Marcus Edwards,8,9,13,16,46,21,45.652174,17,47.058824,29,44.827586
98,Beto,13,12,8,22,55,21,38.181818,25,52.000000,30,26.666667
99,Gustavo Sauer,10,11,11,1,33,21,63.636364,21,47.619048,12,91.666667
100,Ricardo Quaresma,10,5,10,11,36,20,55.555556,15,66.666667,21,47.619048
101,Rodrigão,9,5,11,10,35,20,57.142857,14,64.285714,21,52.380952
102,Luiz Carlos,10,4,10,12,36,20,55.555556,14,71.428571,22,45.454545
103,André Castro,11,6,9,12,38,20,52.631579,17,64.705882,21,42.857143
104,Kenji Gorré,17,8,3,2,30,20,66.666667,25,68.000000,5,60.000000
105,Rafael Barbosa,13,6,7,10,36,20,55.555556,19,68.421053,17,41.176471
106,Mateo Cassierra,11,4,8,8,31,19,61.290323,15,73.333333,16,50.000000
107,Luquinhas,10,9,9,8,36,19,52.777778,19,52.631579,17,52.941176
108,Hidemasa Morita,13,8,6,7,34,19,55.882353,21,61.904762,13,46.153846
109,Rafik Guitane,3,3,16,8,30,19,63.333333,6,50.000000,24,66.666667
110,Silvestre Varela,8,5,11,10,34,19,55.882353,13,61.538462,21,52.380952
111,Show,8,4,11,5,28,19,67.857143,12,66.666667,16,68.750000
112,João Novais,15,3,4,5,27,19,70.370370,18,83.333333,9,44.444444
113,Nicolás Gaitán,10,9,9,3,31,19,61.290323,19,52.631579,12,75.000000
114,Jonatan Lucca,7,7,12,7,33,19,57.575758,14,50.000000,19,63.157895
115,Gustavo Assunção,8,1,11,7,27,19,70.370370,9,88.888889,18,61.111111
116,Fransergio,9,12,9,15,45,18,40.000000,21,42.857143,24,37.500000
117,Hélder Ferreira,6,5,12,10,33,18,54.545455,11,54.545455,22,54.545455
118,Amine Oudrhiri,4,5,14,14,37,18,48.648649,9,44.444444,28,50.000000
119,Yan,5,6,13,13,37,18,48.648649,11,45.454545,26,50.000000
120,Ruben Micael,10,6,8,12,36,18,50.000000,16,62.500000,20,40.000000
121,Fabrício,7,17,11,6,41,18,43.902439,24,29.166667,17,64.705882
122,André Horta,10,5,8,0,23,18,78.260870,15,66.666667,8,100.000000
123,Pedro Henrique,8,7,9,14,38,17,44.736842,15,53.333333,23,39.130435
124,Bebeto,2,0,15,6,23,17,73.913043,2,100.000000,21,71.428571
125,Diogo Figueiras,2,4,15,9,30,17,56.666667,6,33.333333,24,62.500000
126,Pedro Augusto,13,5,4,1,23,17,73.913043,18,72.222222,5,80.000000
127,Cristián Borja,17,7,0,2,26,17,65.384615,24,70.833333,2,0.000000
128,Maurício Antônio,12,14,5,6,37,17,45.945946,26,46.153846,11,45.454545
129,Nuno Tavares,16,7,1,0,24,17,70.833333,23,69.565217,1,100.000000
130,Lucas Fernandes,7,3,9,1,20,16,80.000000,10,70.000000,10,90.000000
131,Rafael Camacho,10,2,6,4,22,16,72.727273,12,83.333333,10,60.000000
132,Rúben Vinagre,16,4,0,0,20,16,80.000000,20,80.000000,0,0.000000
133,Samuel Lino,9,7,7,7,30,16,53.333333,16,56.250000,14,50.000000
134,Chancel Mbemba,0,2,16,13,31,16,51.612903,2,0.000000,29,55.172414
135,Lucas Possignolo,4,9,12,16,41,16,39.024390,13,30.769231,28,42.857143
136,Pedro Mendes,8,6,8,14,36,16,44.444444,14,57.142857,22,36.363636
137,Iván Jaime,12,5,4,1,22,16,72.727273,17,70.588235,5,80.000000
138,Guga,10,4,6,3,23,16,69.565217,14,71.428571,9,66.666667
139,Nicolás Otamendi,4,0,12,10,26,16,61.538462,4,100.000000,22,54.545455
140,Miguel Cardoso,6,7,10,11,34,16,47.058824,13,46.153846,21,47.619048
141,Costinha,6,1,10,4,21,16,76.190476,7,85.714286,14,71.428571
142,Pedro Rebocho,13,6,2,1,22,15,68.181818,19,68.421053,3,66.666667
143,Jhonata Robert,14,6,1,0,21,15,71.428571,20,70.000000,1,100.000000
144,Ukra,13,6,2,2,23,15,65.217391,19,68.421053,4,50.000000
145,Sávio,15,2,0,0,17,15,88.235294,17,88.235294,0,0.000000
146,Sebastián Coates,5,12,10,18,45,15,33.333333,17,29.411765,28,35.714286
147,Nahuel Ferraresi,4,4,11,8,27,15,55.555556,8,50.000000,19,57.894737
148,Moussa Marega,5,7,10,7,29,15,51.724138,12,41.666667,17,58.823529
149,Gonçalo Silva,4,1,10,7,22,14,63.636364,5,80.000000,17,58.823529
150,Crysan,7,4,7,6,24,14,58.333333,11,63.636364,13,53.846154
151,Lucas Kal,9,8,5,7,29,14,48.275862,17,52.941176,12,41.666667
152,Antoine Leautey,4,2,10,1,17,14,82.352941,6,66.666667,11,90.909091
153,Toni Borevkovic,0,9,14,12,35,14,40.000000,9,0.000000,26,53.846154
154,Marcelo Hermes,11,7,3,1,22,14,63.636364,18,61.111111,4,75.000000
155,Willyan,6,11,8,15,40,14,35.000000,17,35.294118,23,34.782609
156,Nanu,0,0,14,6,20,14,70.000000,0,0.000000,20,70.000000
157,Pedro Marques,4,2,10,8,24,14,58.333333,6,66.666667,18,55.555556
158,Nené,6,8,8,1,23,14,60.869565,14,42.857143,9,88.888889
159,Kalindi,3,1,10,10,24,13,54.166667,4,75.000000,20,50.000000
160,Nuno Borges,5,9,8,4,26,13,50.000000,14,35.714286,12,66.666667
161,Anderson Carvalho,5,9,8,4,26,13,50.000000,14,35.714286,12,66.666667
162,Rúben Fernandes,10,12,3,4,29,13,44.827586,22,45.454545,7,42.857143
163,Toni Martínez,4,3,9,2,18,13,72.222222,7,57.142857,11,81.818182
164,Rafael Martins,6,4,7,1,18,13,72.222222,10,60.000000,8,87.500000
165,Bruno Ramires,6,5,7,2,20,13,65.000000,11,54.545455,9,77.777778
166,Fábio Nunes,13,14,0,0,27,13,48.148148,27,48.148148,0,0.000000
167,João Camacho,7,6,6,4,23,13,56.521739,13,53.846154,10,60.000000
168,João Afonso,6,2,7,8,23,13,56.521739,8,75.000000,15,46.666667
169,Edgar Costa,8,2,5,9,24,13,54.166667,10,80.000000,14,35.714286
170,Manuel Ugarte,1,6,12,7,26,13,50.000000,7,14.285714,19,63.157895
171,Enzo Martínez,10,10,3,9,32,13,40.625000,20,50.000000,12,25.000000
172,Fabrício Isidoro,3,9,10,8,30,13,43.333333,12,25.000000,18,55.555556
173,Licá,5,0,8,6,19,13,68.421053,5,100.000000,14,57.142857
174,Allano,11,2,2,1,16,13,81.250000,13,84.615385,3,66.666667
175,Tomás Ribeiro,8,15,4,6,33,12,36.363636,23,34.782609,10,40.000000
176,Jan Vertonghen,12,7,0,0,19,12,63.157895,19,63.157895,0,0.000000
177,Yohan Tavares,5,7,7,7,26,12,46.153846,12,41.666667,14,50.000000
178,Jorge Correa,5,2,7,5,19,12,63.157895,7,71.428571,12,58.333333
179,Joel Tagueu,7,7,5,5,24,12,50.000000,14,50.000000,10,50.000000
180,Roberto Olabe,8,6,4,4,22,12,54.545455,14,57.142857,8,50.000000
181,Naoufel Khacef,12,6,0,0,18,12,66.666667,18,66.666667,0,0.000000
182,Matheus Nunes,4,3,8,6,21,12,57.142857,7,57.142857,14,57.142857
183,Luís Neto,0,1,12,6,19,12,63.157895,1,0.000000,18,66.666667
184,Ivo Rodrigues,5,5,7,2,19,12,63.157895,10,50.000000,9,77.777778
185,Óscar Estupiñán,4,9,8,2,23,12,52.173913,13,30.769231,10,80.000000
186,Anthony D'Alberto,1,0,11,12,24,12,50.000000,1,100.000000,23,47.826087
187,Brian Mansilla,10,9,2,6,27,12,44.444444,19,52.631579,8,25.000000
188,Fabio China,11,1,0,1,13,11,84.615385,12,91.666667,1,0.000000
189,Vitor Carvalho,7,2,4,7,20,11,55.000000,9,77.777778,11,36.363636
190,Vincent Thill,5,1,6,4,16,11,68.750000,6,83.333333,10,60.000000
191,João Amaral,6,1,5,6,18,11,61.111111,7,85.714286,11,45.454545
192,Rafael Defendi,5,4,6,12,27,11,40.740741,9,55.555556,18,33.333333
193,Lazar Rosic,1,4,10,3,18,11,61.111111,5,20.000000,13,76.923077
194,Tiago Almeida,0,2,11,3,16,11,68.750000,2,0.000000,14,78.571429
195,Alex Pinto,0,0,11,11,22,11,50.000000,0,0.000000,22,50.000000
196,Zié Ouattara,1,0,10,1,12,11,91.666667,1,100.000000,11,90.909091
197,Bryan Róchez,5,8,6,1,20,11,55.000000,13,38.461538,7,85.714286
198,Fábio Vieira,2,0,9,2,13,11,84.615385,2,100.000000,11,81.818182
199,Jorge Fernandes,2,8,9,14,33,11,33.333333,10,20.000000,23,39.130435
200,Fábio Coentrão,8,5,3,3,19,11,57.894737,13,61.538462,6,50.000000
201,Tiago Tomás,4,4,7,5,20,11,55.000000,8,50.000000,12,58.333333
202,Francisco Conceição,1,0,9,2,12,10,83.333333,1,100.000000,11,81.818182
203,Mansur,9,11,1,2,23,10,43.478261,20,45.000000,3,33.333333
204,Lucas Veríssimo,0,1,10,6,17,10,58.823529,1,0.000000,16,62.500000
205,Ryotaro Meshino,7,3,3,2,15,10,66.666667,10,70.000000,5,60.000000
206,Yanis Hamache,9,10,1,0,20,10,50.000000,19,47.368421,1,100.000000
207,Marko Grujic,4,2,6,4,16,10,62.500000,6,66.666667,10,60.000000
208,Pepe,4,9,6,8,27,10,37.037037,13,30.769231,14,42.857143
209,Chiquinho,6,2,4,0,12,10,83.333333,8,75.000000,4,100.000000
210,Andraz Sporar,2,8,8,16,34,10,29.411765,10,20.000000,24,33.333333
211,Francisco Teixeira,3,0,6,1,10,9,90.000000,3,100.000000,7,85.714286
212,Franco Cervi,7,2,2,1,12,9,75.000000,9,77.777778,3,66.666667
213,Kanya Fujimoto,3,1,6,8,18,9,50.000000,4,75.000000,14,42.857143
214,Daniel Bragança,5,1,4,3,13,9,69.230769,6,83.333333,7,57.142857
215,Felipe Pires,6,2,3,8,19,9,47.368421,8,75.000000,11,27.272727
216,Claudio Falcão,6,5,3,5,19,9,47.368421,11,54.545455,8,37.500000
217,Bilel Aouacheria,2,0,7,1,10,9,90.000000,2,100.000000,8,87.500000
218,Bozhidar Kraev,5,1,4,1,11,9,81.818182,6,83.333333,5,80.000000
219,Bruno Duarte,3,3,6,7,19,9,47.368421,6,50.000000,13,46.153846
220,Bruno Moreira,3,1,6,1,11,9,81.818182,4,75.000000,7,85.714286
221,Bruno Tabata,5,1,4,2,12,9,75.000000,6,83.333333,6,66.666667
222,Diogo Calila,1,0,8,1,10,9,90.000000,1,100.000000,9,88.888889
223,David Simão,6,4,3,1,14,9,64.285714,10,60.000000,4,75.000000
224,Nicolas Janvier,3,2,6,4,15,9,60.000000,5,60.000000,10,60.000000
225,Danilo Pereira,3,1,6,0,10,9,90.000000,4,75.000000,6,100.000000
226,Chidozie Awaziem,9,11,0,5,25,9,36.000000,20,45.000000,5,0.000000
227,Ali Alipour,3,1,6,9,19,9,47.368421,4,75.000000,15,40.000000
228,Fali Candé,9,6,0,0,15,9,60.000000,15,60.000000,0,0.000000
229,Fábio Cardoso,5,4,4,18,31,9,29.032258,9,55.555556,22,18.181818
230,Jordi,4,20,5,20,49,9,18.367347,24,16.666667,25,20.000000
231,Uilton,8,1,1,3,13,9,69.230769,9,88.888889,4,25.000000
232,Agustín Marchesín,3,6,6,11,26,9,34.615385,9,33.333333,17,35.294118
233,Zouhair Feddal,8,13,1,3,25,9,36.000000,21,38.095238,4,25.000000
234,Ygor Nogueira,0,1,9,11,21,9,42.857143,1,0.000000,20,45.000000
235,Yaya,4,3,4,4,15,8,53.333333,7,57.142857,8,50.000000
236,Aderllan Santos,7,11,1,2,21,8,38.095238,18,38.888889,3,33.333333
237,João Vigário,8,12,0,0,20,8,40.000000,20,40.000000,0,0.000000
238,Joaquín Pereyra,3,2,5,10,20,8,40.000000,5,60.000000,15,33.333333
239,Diogo Salomão,7,8,1,2,18,8,44.444444,15,46.666667,3,33.333333
240,Heriberto Tavares,7,6,1,3,17,8,47.058824,13,53.846154,4,25.000000
241,Miguel Luís,2,0,6,4,12,8,66.666667,2,100.000000,10,60.000000
242,Zainadine Júnior,1,13,7,11,32,8,25.000000,14,7.142857,18,38.888889
243,Léo Andrade,8,11,0,1,20,8,40.000000,19,42.105263,1,0.000000
244,Nikola Jambor,4,4,4,1,13,8,61.538462,8,50.000000,5,80.000000
245,Nikola Stojiljkovic,3,2,5,2,12,8,66.666667,5,60.000000,7,71.428571
246,Abdel Jalil Zaim Idriss Medioub,1,2,7,17,27,8,29.629630,3,33.333333,24,29.166667
247,Carlos Valenzuela,6,4,2,2,14,8,57.142857,10,60.000000,4,50.000000
248,Pedro Pelágio,7,5,1,8,21,8,38.095238,12,58.333333,9,11.111111
249,Cássio Scheid,7,9,1,2,19,8,42.105263,16,43.750000,3,33.333333
250,André Luis,6,2,2,4,14,8,57.142857,8,75.000000,6,33.333333
251,António Filipe,4,9,4,9,26,8,30.769231,13,30.769231,13,30.769231
252,Gonçalo Inácio,1,5,7,6,19,8,42.105263,6,16.666667,13,53.846154
253,Larry Azouni,6,6,2,3,17,8,47.058824,12,50.000000,5,40.000000
254,Jovane Cabral,5,2,3,2,12,8,66.666667,7,71.428571,5,60.000000
255,Stanislav Kritsyuk,4,9,4,12,29,8,27.586207,13,30.769231,16,25.000000
256,Jean,4,3,3,5,15,7,46.666667,7,57.142857,8,37.500000
257,Samuel,1,10,6,14,31,7,22.580645,11,9.090909,20,30.000000
258,Pedrão,2,3,5,14,24,7,29.166667,5,40.000000,19,26.315789
259,Javi García,4,2,3,3,12,7,58.333333,6,66.666667,6,50.000000
260,Bertrand Yves Baraye,6,4,1,1,12,7,58.333333,10,60.000000,2,50.000000
261,Cafu,1,6,6,11,24,7,29.166667,7,14.285714,17,35.294118
262,César Martins,0,6,7,8,21,7,33.333333,6,0.000000,15,46.666667
263,Edwin Herrera,2,2,5,6,15,7,46.666667,4,50.000000,11,45.454545
264,Patrick Willian,2,3,5,9,19,7,36.842105,5,40.000000,14,35.714286
265,Silvio,6,2,0,0,8,6,75.000000,8,75.000000,0,0.000000
266,Adriano Castanheira,3,2,3,1,9,6,66.666667,5,60.000000,4,75.000000
267,Denis,2,9,4,12,27,6,22.222222,11,18.181818,16,25.000000
268,Abner Felipe,6,7,0,2,15,6,40.000000,13,46.153846,2,0.000000
269,João Mendes,4,3,2,2,11,6,54.545455,7,57.142857,4,50.000000
270,Bruno Varela,3,12,3,16,34,6,17.647059,15,20.000000,19,15.789474
271,Milson,3,3,3,1,10,6,60.000000,6,50.000000,4,75.000000
272,Tarantini,2,4,4,6,16,6,37.500000,6,33.333333,10,40.000000
273,Arcanjo,3,1,3,2,9,6,66.666667,4,75.000000,5,60.000000
274,Witi,6,8,0,1,15,6,40.000000,14,42.857143,1,0.000000
275,Vincent Koziello,4,2,2,1,9,6,66.666667,6,66.666667,3,66.666667
276,Rodrigo Pinho,2,3,4,4,13,6,46.153846,5,40.000000,8,50.000000
277,Antunes,6,0,0,1,7,6,85.714286,6,100.000000,1,0.000000
278,João Victor,2,0,4,3,9,6,66.666667,2,100.000000,7,57.142857
279,Ibrahim Alhassan,4,2,2,5,13,6,46.153846,6,66.666667,7,28.571429
280,Andrijia Lukovic,6,2,0,2,10,6,60.000000,8,75.000000,2,0.000000
281,Shahriyar Moghanlou,3,2,3,0,8,6,75.000000,5,60.000000,3,100.000000
282,Tomislav Strkalj,1,3,5,5,14,6,42.857143,4,25.000000,10,50.000000
283,Pedro Sá,3,4,2,2,11,5,45.454545,7,42.857143,4,50.000000
284,Franck-Yves Bambock,1,5,4,2,12,5,41.666667,6,16.666667,6,66.666667
285,Gabrielzinho,5,1,0,0,6,5,83.333333,6,83.333333,0,0.000000
286,Pierre Sagna,0,0,5,2,7,5,71.428571,0,0.000000,7,71.428571
287,Chico Ramos,1,3,4,4,12,5,41.666667,4,25.000000,8,50.000000
288,Dieguinho,3,0,2,0,5,5,100.000000,3,100.000000,2,100.000000
289,Jafar Salmani,2,3,3,0,8,5,62.500000,5,40.000000,3,100.000000
290,Mikel Villanueva,4,9,1,3,17,5,29.411765,13,30.769231,4,25.000000
291,Lucas Áfrico,3,6,2,1,12,5,41.666667,9,33.333333,3,66.666667
292,Cristian Devenish,3,2,2,9,16,5,31.250000,5,60.000000,11,18.181818
293,Marco Pereira,3,27,2,17,49,5,10.204082,30,10.000000,19,10.526316
294,Diogo Leite,4,3,1,3,11,5,45.454545,7,57.142857,4,25.000000
295,Jorge Benguché,4,2,1,3,10,5,50.000000,6,66.666667,4,25.000000

In [14]:
# % passing accuracy per zones and position by Benfica in the league
accuracy_benfica_position = allmatches[allmatches["team_name"]=="Benfica"].groupby("position").sum().sort_values("Total passes completed", ascending=False).fillna(0)
# recalculate % completed passes
accuracy_benfica_position["% Total passes completed"] = (accuracy_benfica_position["Passes completed left"]+accuracy_benfica_position["Passes completed right"]) * 100 / accuracy_benfica_position["Total passes"]
accuracy_benfica_position["% Total passes completed left"] = (accuracy_benfica_position["Passes completed left"]) * 100 / accuracy_benfica_position["Total passes left"]
accuracy_benfica_position["% Total passes completed right"] = (accuracy_benfica_position["Passes completed right"]) * 100 / accuracy_benfica_position["Total passes right"]
accuracy_benfica_position

,player_id,Passes completed left,Passes uncompleted left,Passes completed right,Passes uncompleted right,Total passes,Total passes completed,% Total passes completed,Total passes left,% Total passes completed left,Total passes right,% Total passes completed right
position,,,,,,,,,,,,
Midfielder,26348705,155,43,243,82,523,398,76.099426,198,78.282828,325,74.769231
Defender,21407745,86,35,82,34,237,168,70.886076,121,71.074380,116,70.689655
Forward,18749043,94,32,71,33,230,165,71.739130,126,74.603175,104,68.269231
Goalkeeper,899707,1,3,1,2,7,2,28.571429,4,25.000000,3,33.333333

In [12]:
# % passing accuracy per zones and position by FCP in the league
accuracy_fcp_position = allmatches[allmatches["team_name"]=="FC Porto"].groupby("position").sum().sort_values("Total passes completed", ascending=False).fillna(0)
# recalculate % completed passes
accuracy_fcp_position["% Total passes completed"] = (accuracy_fcp_position["Passes completed left"]+accuracy_fcp_position["Passes completed right"]) * 100 / accuracy_fcp_position["Total passes"]
accuracy_fcp_position["% Total passes completed left"] = (accuracy_fcp_position["Passes completed left"]) * 100 / accuracy_fcp_position["Total passes left"]
accuracy_fcp_position["% Total passes completed right"] = (accuracy_fcp_position["Passes completed right"]) * 100 / accuracy_fcp_position["Total passes right"]
accuracy_fcp_position

,player_id,Passes completed left,Passes uncompleted left,Passes completed right,Passes uncompleted right,Total passes,Total passes completed,% Total passes completed,Total passes left,% Total passes completed left,Total passes right,% Total passes completed right
position,,,,,,,,,,,,
Midfielder,18693736,102,63,150,87,402,252,62.686567,165,61.818182,237,63.291139
Defender,24607177,54,32,71,45,202,125,61.881188,86,62.790698,116,61.206897
Forward,22380956,62,32,60,22,176,122,69.318182,94,65.957447,82,73.170732
Goalkeeper,778583,3,6,6,11,26,9,34.615385,9,33.333333,17,35.294118

In [15]:
allmatches["team_name"]=allmatches["team_name"].astype(str)

# % passing accuracy per zones by Benfica players in the league

accuracy_benfica = allmatches[allmatches["team_name"]=="Benfica"].groupby("player_name").sum()
# recalculate % completed passes
accuracy_benfica["% Total passes completed"] = ((accuracy_benfica["Passes completed left"]+accuracy_benfica["Passes completed right"]) * 100 / accuracy_benfica["Total passes"]).sort_values()
accuracy_benfica["% Total passes completed left"] = (accuracy_benfica["Passes completed left"]) * 100 / accuracy_benfica["Total passes left"]
accuracy_benfica["% Total passes completed right"] = (accuracy_benfica["Passes completed right"]) * 100 / accuracy_benfica["Total passes right"]
accuracy_benfica.sort_values("Total passes completed", ascending=False).fillna(0).drop(["player_id"], axis = 1)

,Passes completed left,Passes uncompleted left,Passes completed right,Passes uncompleted right,Total passes,Total passes completed,% Total passes completed,Total passes left,% Total passes completed left,Total passes right,% Total passes completed right
player_name,,,,,,,,,,,
Rafa,20,6,60,15,101,80,79.207921,26,76.923077,75,80.000000
Adel Taarabt,29,5,41,23,98,70,71.428571,34,85.294118,64,64.062500
Pizzi,29,8,39,9,85,68,80.000000,37,78.378378,48,81.250000
Éverton,45,10,12,4,71,57,80.281690,55,81.818182,16,75.000000
Diogo Gonçalves,0,0,48,7,55,48,87.272727,0,0.000000,55,87.272727
Alejandro Grimaldo,48,16,0,2,66,48,72.727273,64,75.000000,2,0.000000
Gian-Luca Waldschmidt,17,7,23,11,58,40,68.965517,24,70.833333,34,67.647059
Julian Weigl,20,4,19,8,51,39,76.470588,24,83.333333,27,70.370370
Gilberto,0,1,36,10,47,36,76.595745,1,0.000000,46,78.260870
Haris Seferovic,14,4,21,9,48,35,72.916667,18,77.777778,30,70.000000
Darwin Núñez,18,11,15,9,53,33,62.264151,29,62.068966,24,62.500000
Nuno Santos,18,8,11,7,44,29,65.909091,26,69.230769,18,61.111111
Gabriel Pires,17,3,10,7,37,27,72.972973,20,85.000000,17,58.823529
Pedrinho,8,5,9,4,26,17,65.384615,13,61.538462,13,69.230769
Nuno Tavares,16,7,1,0,24,17,70.833333,23,69.565217,1,100.000000
Nicolás Otamendi,4,0,12,10,26,16,61.538462,4,100.000000,22,54.545455
Tomás Tavares,5,1,11,5,22,16,72.727273,6,83.333333,16,68.750000
Jan Vertonghen,12,7,0,0,19,12,63.157895,19,63.157895,0,0.000000
Chiquinho,6,2,4,0,12,10,83.333333,8,75.000000,4,100.000000
Lucas Veríssimo,0,1,10,6,17,10,58.823529,1,0.000000,16,62.500000
Franco Cervi,7,2,2,1,12,9,75.000000,9,77.777778,3,66.666667
André Almeida,0,0,7,0,7,7,100.000000,0,0.000000,7,100.000000
Ferro,0,0,2,0,2,2,100.000000,0,0.000000,2,100.000000
Joao Ferreira,0,0,2,1,3,2,66.666667,0,0.000000,3,66.666667
Morato,1,2,0,0,3,1,33.333333,3,33.333333,0,0.000000
Jardel,0,0,1,0,1,1,100.000000,0,0.000000,1,100.000000
Helton Leite,1,3,0,1,5,1,20.000000,4,25.000000,1,0.000000
Odysseas Vlachodimos,0,0,1,1,2,1,50.000000,0,0.000000,2,50.000000
Andreas Samaris,1,0,0,1,2,1,50.000000,1,100.000000,1,0.000000

In [13]:
allmatches["team_name"]=allmatches["team_name"].astype(str)

# % passing accuracy per zones by FCP players in the league

accuracy_fcp = allmatches[allmatches["team_name"]=="FC Porto"].groupby("player_name").sum()
# recalculate % completed passes
accuracy_fcp["% Total passes completed"] = ((accuracy_fcp["Passes completed left"]+accuracy_fcp["Passes completed right"]) * 100 / accuracy_fcp["Total passes"]).sort_values()
accuracy_fcp["% Total passes completed left"] = (accuracy_fcp["Passes completed left"]) * 100 / accuracy_fcp["Total passes left"]
accuracy_fcp["% Total passes completed right"] = (accuracy_fcp["Passes completed right"]) * 100 / accuracy_fcp["Total passes right"]
accuracy_fcp.sort_values("Total passes completed", ascending=False).fillna(0).drop(["player_id"], axis = 1)

,Passes completed left,Passes uncompleted left,Passes completed right,Passes uncompleted right,Total passes,Total passes completed,% Total passes completed,Total passes left,% Total passes completed left,Total passes right,% Total passes completed right
player_name,,,,,,,,,,,
Otávio,33,21,28,18,100,61,61.000000,54,61.111111,46,60.869565
Jesús Corona,12,8,43,23,86,55,63.953488,20,60.000000,66,65.151515
Wilson Manafá,23,5,29,13,70,52,74.285714,28,82.142857,42,69.047619
Mateus Uribe,21,11,25,10,67,46,68.656716,32,65.625000,35,71.428571
Sérgio Oliveira,20,16,24,23,83,44,53.012048,36,55.555556,47,51.063830
Mehdi Taremi,21,15,14,7,57,35,61.403509,36,58.333333,21,66.666667
Luis Díaz,27,5,8,1,41,35,85.365854,32,84.375000,9,88.888889
Zaidu Sanusi,23,13,4,2,42,27,64.285714,36,63.888889,6,66.666667
Chancel Mbemba,0,2,16,13,31,16,51.612903,2,0.000000,29,55.172414
Moussa Marega,5,7,10,7,29,15,51.724138,12,41.666667,17,58.823529
Ewerton,5,4,9,6,24,14,58.333333,9,55.555556,15,60.000000
Nanu,0,0,14,6,20,14,70.000000,0,0.000000,20,70.000000
Toni Martínez,4,3,9,2,18,13,72.222222,7,57.142857,11,81.818182
Fábio Vieira,2,0,9,2,13,11,84.615385,2,100.000000,11,81.818182
Pepe,4,9,6,8,27,10,37.037037,13,30.769231,14,42.857143
Marko Grujic,4,2,6,4,16,10,62.500000,6,66.666667,10,60.000000
Francisco Conceição,1,0,9,2,12,10,83.333333,1,100.000000,11,81.818182
João Mário,2,0,7,1,10,9,90.000000,2,100.000000,8,87.500000
Danilo Pereira,3,1,6,0,10,9,90.000000,4,75.000000,6,100.000000
Agustín Marchesín,3,6,6,11,26,9,34.615385,9,33.333333,17,35.294118
Diogo Leite,4,3,1,3,11,5,45.454545,7,57.142857,4,25.000000
Evanilson,2,1,2,2,7,4,57.142857,3,66.666667,4,50.000000
Carraça,0,0,1,0,1,1,100.000000,0,0.000000,1,100.000000
Felipe Anderson,1,0,0,0,1,1,100.000000,1,100.000000,0,0.000000
Romário Baró,1,0,0,1,2,1,50.000000,1,100.000000,1,0.000000
Shoya Nakajima,0,1,1,0,2,1,50.000000,1,0.000000,1,100.000000